/* Reseteo general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4; /* Fondo claro y suave */
    color: #333;
}

/* Estilos del encabezado */
header {
    background-color: #36363a; /* Azul oscuro */
    padding: 9px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* Sombra más suave */
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container :hover{
    text-decoration: none;
}

h1 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 500; /* Peso de fuente ajustado */
}

/* Menú de navegación */
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: #ffffff;
    padding: 12px 20px;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 5px;
}

nav ul li:hover a {
    background-color: #E94560; /* Color vibrante para el hover */
    transform: translateY(-3px); /* Efecto de elevación */
}

/* Submenús */
.submenu {
    display: none; /* Oculta el submenú inicialmente */
    position: absolute;
    top: 100%; /* Ajustar para que se vea justo debajo */
    left: 0;
    background-color: white; 
    padding: 5px;
    list-style: none;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: opacity 0.2s ease, visibility 0.2s ease; /* Añadir transición */
    opacity: 0; /* Comienza oculto */

}

nav ul li:hover .submenu {
    display: block; /* Muestra el submenú al pasar el ratón */
    opacity: 1; /* Muestra el submenú */
    visibility: visible; /* Hace visible */
}

.submenu li {
    padding: 10px;
    cursor: pointer;
    color: black;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.submenu li:hover {
    background-color: #f0f0f0;
    transform: scale(1.03); /* Efecto de aumento más sutil */
}

/* Contenedor de botones */
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px;
    flex: 1; /* Permite que el contenedor principal empuje el footer */
}

/* Estilo activo del menú */
.active {
    border-bottom: 2px solid #E94560; /* Color de la línea */
    font-weight: bold; /* Para destacar el texto */
}

/* Efecto hover en el contenedor del encabezado */
.header-container :hover {
    color: #f0f0f0;
}

/* Fin de encabezado */



/************/

/* Estilos del footer */
footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex-wrap: wrap;
  }
  
/* Información de contacto */
.contact-info {
    flex: 1;
    margin-right: 20px;
    padding: 0;
    padding-top: 20px; /* Ajusta este valor para mover todo el bloque de párrafos hacia abajo */
  }
  
  .contact-info p {
    margin: 3px 0; /* Reduce aún más el margen entre párrafos */
    font-size: 15px; /* Ajusta el tamaño de fuente si es necesario */
    line-height: 1.2; /* Ajusta el espaciado de línea entre los textos */
    margin-top: 10px; /* Ajusta este valor para mover el bloque más abajo */
    padding-top: 1px; /* Ajusta este valor para mover todo el bloque de párrafos hacia abajo */
  }

  .contact-info :hover{
    text-decoration: none;
  }
  
  .contact-title {
    color: #000;
    background-color: #a5f04d;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(165, 240, 77, 0.5);
    display: inline-block;
    font-size: 25px;
  }
  
/* Links del footer (horizontal) */
.footer-links {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .footer-links a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    display: inline-block;
  }
  
  .footer-links a:hover {
    color: #a5f04d;
    text-decoration: none;
  }
  
/* Contenedor del formulario y links */
.subscribe-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: -800px; /* Mueve el contenedor hacia la izquierda */
  }

  .subscribe{
    padding: 40px;
  }
  
  /* Redes sociales usando FontAwesome */
  .social-media {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .social-media a {
    color: #fff;
    font-size: 24px;
    margin-bottom: 15px;
    text-decoration: none;
  }
  
  .social-media a:hover {
    color: #a5f04d;
  }
  
  /* Estilo del formulario de suscripción */
  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .subscribe input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 200px;
  }
  
  .subscribe button {
    background-color: #a5f04d;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  

.divider2 {
    width: 85%;
    border-top: 2px solid rgba(238, 236, 235, 0.8); /* Grosor aumentado a 2px y color más blanco */
    margin: 20px auto;
  }
  
  /* Pie de página */
  .footer-bottom {
    text-align: center;
    padding-top: 10px;
  }
  

/* Responsividad */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        text-align: left;
    }

    .button-container {
        flex-direction: column;
        align-items: stretch;
    }
}