/* Reseteo general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4; /* Fondo claro y suave */
    color: #333;
}

/* Estilos del encabezado */
header {
    background-color: #36363a; /* Azul oscuro */
    padding: 9px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* Sombra más suave */
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container :hover{
    text-decoration: none;
}

h1 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 500; /* Peso de fuente ajustado */
}

/* Menú de navegación */
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: #ffffff;
    padding: 12px 20px;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 5px;
}

nav ul li:hover a {
    background-color: #E94560; /* Color vibrante para el hover */
    transform: translateY(-3px); /* Efecto de elevación */
}

/* Submenús */
.submenu {
    display: none; /* Oculta el submenú inicialmente */
    position: absolute;
    top: 100%; /* Ajustar para que se vea justo debajo */
    left: 0;
    background-color: white; 
    padding: 5px;
    list-style: none;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: opacity 0.2s ease, visibility 0.2s ease; /* Añadir transición */
    opacity: 0; /* Comienza oculto */

}

nav ul li:hover .submenu {
    display: block; /* Muestra el submenú al pasar el ratón */
    opacity: 1; /* Muestra el submenú */
    visibility: visible; /* Hace visible */
}

.submenu li {
    padding: 10px;
    cursor: pointer;
    color: black;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.submenu li:hover {
    background-color: #f0f0f0;
    transform: scale(1.03); /* Efecto de aumento más sutil */
}

/* Contenedor de botones */
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px;
    flex: 1; /* Permite que el contenedor principal empuje el footer */
}

/* Estilo activo del menú */
.active {
    border-bottom: 2px solid #E94560; /* Color de la línea */
    font-weight: bold; /* Para destacar el texto */
}

/* Efecto hover en el contenedor del encabezado */
.header-container :hover {
    color: #f0f0f0;
}

/* Fin de encabezado */



/*body*/

.promo-content {
    max-width: 1800px; /* Ancho máximo para el contenido */
    margin: 0 auto; /* Centrar el contenido */
    padding: 20px; /* Espaciado interno */
}

.image-container {
    display: flex; /* Usar flexbox para centrar las imágenes */
    justify-content: center; /* Centrar horizontalmente las imágenes */
    gap: 20px; /* Espacio entre las imágenes */
    padding:100px;
}

.image-container2 {
    display: flex; /* Usar flexbox para centrar las imágenes */
    justify-content: center; /* Centrar horizontalmente las imágenes */
    gap: 20px; /* Espacio entre las imágenes */
    padding:20px;
}

.promo-content img {
    max-width: 100%;  /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto;  /* Mantiene la proporción de la imagen */
    display: block; /* Evitar espacios en la parte inferior */
}

/* Media query para pantallas más pequeñas */
@media (max-width: 600px) {
    .promo-content {
        padding: 10px; /* Reducir espaciado interno en pantallas pequeñas */
    }
}


.promo-content h2 {
    color: #d61233; /* Color destacado para encabezados */
    margin: 15px 0; /* Espaciado vertical entre encabezados y párrafos */
    text-align: center; /* Alinear al centro */
    font-size: 23px;
}

.promo-content h3 {
    color: #d61233; /* Color destacado para encabezados */
    margin: 15px 0; /* Espaciado vertical entre encabezados y párrafos */
    text-align: left; /* Alinear a la izquierda */
    font-size: 23px;
}

.centrado {
    text-align: center; /* Centrar texto */
    color: black;
    /*font-weight: bold; /* Negrita para énfasis */  /*OPCIONAL*/
}

p {
    margin: 10px 0; /* Espaciado vertical para párrafos */
    line-height: 1.6; /* Mejorar la legibilidad del texto */
    text-align: left; /* Alinear a la izquierda */
    color: black;
}

/*lista visible*/

.contenedor-acordeon {
    width: auto; /* Cambiado a auto para no limitar el ancho */
    max-width: 1200px;
    margin: 15px 0 0 0; /* Solo margen superior */
    font-family: 'Raleway', sans-serif;
}

.contenedor-acordeon h2 {
    text-align: left; /* Alinear el título a la izquierda */
    font-size: 40px;
    margin-bottom: 30px;
}

.acordeon {
    background: #f0f0f0; /* Fondo menos blanco */
    padding: 0; /* Elimina el padding */
}

.acordeon label {
    display: block;
    padding: 20px;
    font-size: 20px;
    background: #3f3e3d;
    color: #fff;
    cursor: pointer;
    margin-bottom: 2px;
    transition: all 300ms ease;
}

.acordeon label:hover {
    background: #383636;
}

.acordeon .contenido-acordeon {
    padding: 0; /* Elimina el padding */
    margin: 0 20px; /* Mantiene el margen lateral */
    max-height: 0px;
    overflow: hidden;
    transition: all 300ms ease;
}

.btn-acordeon:checked ~ .contenido-acordeon {
    max-height: 700px;
    padding: 15px 0; /* Espaciado en la parte superior e inferior */
}

.btn-acordeon {
    display: none;
}

.contenido-acordeon ul {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding por defecto */
}

.contenido-acordeon li {
    position: relative; /* Necesario para el pseudoelemento */
    margin-bottom: 10px; /* Espaciado entre elementos */
    line-height: 1.6; /* Mejora la legibilidad */
    border-bottom: 2px solid rgb(209, 118, 118); /* Línea roja debajo del texto */
    padding-bottom: 5px; /* Espacio entre el texto y la línea */
}

.contenido-acordeon li:last-child {
    border-bottom: none; /* Elimina la línea del último elemento */
}



/* Divider */
.divider1 {
    width: 85%;
    border-top: 2px solid rgba(231, 122, 20, 0.8); /* Grosor aumentado a 2px y color más blanco */
    margin: 20px auto;
    padding: 0%;
}

.divider2 {
    width: 100%;
    border-top: 2px solid rgba(231, 122, 20, 0.8); /* Grosor aumentado a 2px y color más blanco */
    margin: 20px auto;
    padding: 0%;
}

.divider3 {
    width: 100%;
    border-top: 2px solid rgba(231, 122, 20, 0.8); /* Grosor aumentado a 2px y color más blanco */
    margin: 20px auto;
    padding: 0%;
}

/* Tipificación general */
.promo-content img:last-of-type {
    margin-bottom: 0; /* Eliminar margen inferior de la última imagen */
}

strong {
    color: #FF6F61; 
    background-color: rgba(255, 105, 97, 0.2);
    padding: 2px 4px; 
    border-radius: 4px;
    text-decoration: none;
    margin-top: 30px; /* Ajusta el valor según sea necesario */
    display: inline-block; /* Necesario para aplicar margin */
}



/* Personalización de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}



::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #6a11cb, #2575fc); /* Degradado del pulgar */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #4c1a9e, #2b65e6); /* Cambio de color al pasar el cursor */
}

::-webkit-scrollbar-thumb:active {
    background: linear-gradient(45deg, #350e66, #1a45b4); /* Efecto al hacer clic */
}


/* Estilo para el contenido con desplazamiento */
#scrollable-content {
    padding: 10px;
    /* Elimina la altura fija */
}


/************/

/* Estilos del footer */
footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
  }

footer p {
    color: #fff; /* Color blanco para los párrafos */
}



footer a:hover {
    text-decoration: underline; /* Subrayado en hover */
}
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex-wrap: wrap;
  }
  
/* Información de contacto */
.contact-info {
    flex: 1;
    margin-right: 20px;
    padding: 0;
    padding-top: 20px; /* Ajusta este valor para mover todo el bloque de párrafos hacia abajo */
  }
  
  .contact-info p {
    margin: 3px 0; /* Reduce aún más el margen entre párrafos */
    font-size: 15px; /* Ajusta el tamaño de fuente si es necesario */
    line-height: 1.2; /* Ajusta el espaciado de línea entre los textos */
    margin-top: 10px; /* Ajusta este valor para mover el bloque más abajo */
    padding-top: 1px; /* Ajusta este valor para mover todo el bloque de párrafos hacia abajo */
  }

  .contact-info :hover{
    text-decoration: none;
  }
  
  .contact-title {
    color: #000;
    background-color: #a5f04d;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(165, 240, 77, 0.5);
    display: inline-block;
    font-size: 25px;
  }
  
/* Links del footer (horizontal) */
.footer-links {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .footer-links a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    display: inline-block;
  }
  
  .footer-links a:hover {
    color: #a5f04d;
    text-decoration: none;
  }
  
/* Contenedor del formulario y links */
.subscribe-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: -800px; /* Mueve el contenedor hacia la izquierda */
  }

  .subscribe{
    padding: 40px;
  }
  
  /* Redes sociales usando FontAwesome */
  .social-media {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .social-media a {
    color: #fff;
    font-size: 24px;
    margin-bottom: 15px;
    text-decoration: none;
  }
  
  .social-media a:hover {
    color: #a5f04d;
  }
  
  /* Estilo del formulario de suscripción */
  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .subscribe input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 200px;
  }
  
  .subscribe button {
    background-color: #a5f04d;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  

.divider4 {
    width: 85%;
    border-top: 2px solid rgba(238, 236, 235, 0.8); /* Grosor aumentado a 2px y color más blanco */
    margin: 20px auto;
  }
  
/* Pie de página */
.footer-bottom {
    display: flex; /* Habilita flexbox */
    justify-content: center; /* Centra el contenido horizontalmente */
    text-align: center; /* Asegura que el texto dentro se centre */
    padding-top: 10px; /* Espaciado superior */
}

  

/* Responsividad */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        text-align: left;
    }

    .button-container {
        flex-direction: column;
        align-items: stretch;
    }
}